{% extends "base.html" %}
{% block title %}Remove item{% endblock %}
{% block content %}
<div class="container-fluid">
    <br />
    <div class="card text-white bg-dark mx-auto" style="max-width: 540px; --bs-bg-opacity: 0.8; padding: 10px">
        <form method="post" action="./delete">
            <select class="form-select" aria-label="Select one" name="title">
                {% for item in items %}
                <option value="{{item.title}}">{{item.title}}</option>
                {% endfor %}
            </select>
            <br />
            <button type="submit" class="btn btn-danger">Remove</button>
        </form>
    </div>
</div>
{% endblock %}